.infoBox {
    max-width: 100%;
    display: flex
}

.img {
    width: 198px;
    height: 200px;
    border: 3px solid #bbb;
    background-size: cover;
    background-position: 30% 10%;
    border-radius: 50%;
    margin-top: 15px;
}

.senadorInfo {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    position: relative;
    left: 50px;
}

.senadorNome,
.senadorEmail,
.senadorSite,
.senadorComissoes {
    flex-direction: column;
    flex: 1;
}

.senadorNome {
    min-width: 45%;
}

.senadorComissoes,
.senadorTelefone {
    min-width: 50%;
}

.senadorInfo p,
.senadorInfo a {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.senadorSite a:link,
.senadorSite a:visited,
.senadorSite a:hover,
.senadorSite a:active {
    text-decoration: none;
    color: black;
}

.senadorSite svg,
.senadorTelefone p svg,
.senadorEmail p svg {
    margin-right: 10px;
}