.filtroBox {
    position: relative;
    border: 1px solid #adb6bb;
    width: 250px;
    max-width: 250px;
    height: fit-content;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.filtroType {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
}


.itensCheckbox.false {
    height: 0px;
    visibility: hidden;
}

.filtroType.true svg {
    transform: rotate(90deg);
}

.filtroBox.filtroFromHeader {
    height: 100%;
    margin-right: 0px;
    width: 229px;
    border-radius: 0px;
    overflow: auto;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.103);
}

.filtroBox .filterTop {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filtroBox #btnLimparFiltro {
    align-self: center;
    margin-bottom: 10px;
}